  .wrapper {
    position: relative;
    overflow-x: hidden;
  }

  .menu {
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 100px;
    z-index: 99;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: 0.5s;
    transform: translateX(-100%);
  }

  .menu_active {
    transform: translateX(0%);
    -webkit-box-shadow: 11px 7px 21px 2px rgba(79, 178, 255, 1);
    -moz-box-shadow: 11px 7px 21px 2px rgba(79, 178, 255, 1);
    box-shadow: 11px 7px 21px 2px rgba(79, 178, 255, 1);
  }

  .content_active {
    transform: translateX(25%);
  }


  .menu-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    flex-direction: column;
  }

  .menu-list a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
    background-color: rgb(43, 150, 238);
    position: absolute;
    right: -35px;
    top: 100px;
  }

  .content {
    transition: 0.5s;
    position: relative;
    z-index: 0;
  }

  .content_active {
    transform: translateX(30%);
  }

  .arrow {
    transition: all 0.2s;
    position: relative;
    top: 5px;
    right: -2px;
    width: 15px;
    height: 15px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
  }

  .arrow_active {
    transform: rotate(-135deg);
    right: -8px;
  }